# Path where GraphQL Server will be available at.
# Recommended for development: /graphql
GRAPHQL_PATH=

# Absolute path to the `files` folder where to save files to.
# For development, use any folder. At the moment is not really used.
FILES_PATH=

# Url that maps to the FILES_PATH. Will not work in development, so set a dummy value. 
# Recommended for development: http://localhost:5000/_files
FILES_URL=

# Absolute path to the git repository for the db backup.
# Can be left unset.
DATABASE_BACKUP_REPO_PATH=

# Whether any database backup attempt should be skipped.
# Can be left unset.
# default: true
SKIP_DATABASE_BACKUP=

# SSH key to connect to the openfing-video server.
# Should be left unset for development.
OPEN_FING_VIDEO_SSH_KEY=

# SSH host to connect to the openfing-video server.
# Should be left unset for development.
OPEN_FING_VIDEO_SSH_HOST=

# SSH username to connect to the openfing-video server.
# Should be left unset for development.
OPEN_FING_VIDEO_SSH_USERNAME=

# JWT duration (https://github.com/vercel/ms). 
# Recommended for development: 1d
ACCESS_TOKEN_DURATION=

# JWT secret. 
# Recommended for development: some_secret
ACCESS_TOKEN_SECRET=

# Refresh token duration (https://github.com/vercel/ms).
# Recommended for development: 1d
REFRESH_TOKEN_DURATION=

# Refresh token secret. 
# Recommended for development: some_secret
REFRESH_TOKEN_SECRET=

# Server host. Can be left unset.
# default: localhost
HOST=

# Port the app will be listenting to
# Recommended for development: 5000
PORT=

# Database connection properties

# Host of the PostgreSQL database.
# Recommended for development: localhost
WRITE_DB_HOST=

# Port PostgreSQL is listening to.
# Depends on your installation of PostgreSQL, usually is: 5432
WRITE_DB_PORT=

# Name of the database
# This can be anything you want.
# Recommended for development: test
WRITE_DB_NAME=

# Name of the database user
# Depends on your installation of PostgreSQL, usually is: postgres
WRITE_DB_USERNAME=

# Password of the database user
# Depends on your installation of PostgreSQL, usually is: postgres
WRITE_DB_PASSWORD=

# Legacy database connection properties.
# Can be left unset
READ_DB_HOST=
READ_DB_PORT=
READ_DB_NAME=
READ_DB_USERNAME=
READ_DB_PASSWORD=
